<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets-v1/templates_copy/assets/styles/output.css"
    />
    <link
      rel="stylesheet"
      href="/assets-v1/templates_copy/assets/styles/base.css"
    />
    <title>Authentication Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <div id="navbar" class="user-container">
        <div class="bg-white flex justify-center items-center my-4">
          <img
            src="../assets-v1/images/L8Logo.png"
            alt="Layer8"
            width="250"
            height="535"
          />
        </div>
      </div>
      <div id="body" class="bg-[#F6F8FF] md:grid md:grid-cols-2">
        <div class="self-center py-4 md:py-0 mx-10 lg:mx-36 md:mx-18">
          <h1 class="font-bold text-[#4F80E1] text-[40px] text-start mb-2">
            Login
          </h1>
          <p class="font-normal text-xl text-[#414141] text-start mb-12">
            Enter your email and password to login.
          </p>
          <div>
            <div class="mb-6">
              <label class="text-sm text-[#414141] mb-1 block">Username</label>
              <input
                class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                v-model="loginUsername"
                placeholder="Username"
              />
            </div>
            <div class="mb-12">
              <label class="text-sm text-[#414141] mb-1 block">Password</label>
              <input
                class="w-full bg-white rounded-md border border-[#EADFD8] py-2.5 px-3 placeholder:text-[#414141] focus:outline-none"
                v-model="loginPassword"
                type="password"
                placeholder="Password"
              />
            </div>
            <button
              class="w-full bg-[#4F80E1] rounded-lg text-center text-white py-4 mb-12"
              @click="loginUser"
            >
              Login
            </button>
            <a
              class="text-sm text-[#414141] font-normal text-center block cursor-pointer"
              href="http://localhost:5001/user-register-page"
              >Don't have an account? <span class="font-bold">Register</span></a
            >
          </div>
        </div>
        <div class="bg-white hidden md:flex lg:flex items-center">
          <img src="/assets-v1/templates_copy/assets/images/cyber-phone.png" />
        </div>
      </div>
      <div id="footer" class="user-container">
        <div class="bg-white flex justify-between items-center my-8">
          <div>
            <img
              src="../assets-v1/images/L8Logo.png"
              alt="Layer8"
              class="mb-6 md:mb-12 h-[35px] md:w-full md:h-[70px]"
            />
            <p class="font-bold text-sm md:text-base text-black text-start self-end">
              ©Layer8security 2023.
            </p>
          </div>
          <div>
            <div class="text-xl font-bold text-black text-end md:text-start mb-0 md:mb-4 lg:mb-6">Contact</div>
            <ul class="font-medium text-sm md:text-base text-black text-end md:text-start self-end">
              <li>Email: hi@layer8.com</li>
              <li>Client Support: support@layer8.com</li>
              <li>Phone number: 0371 525 777</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      const { createApp, computed, ref } = Vue;
      const loginUsername = ref("");
      const loginPassword = ref("");
      const token = ref(localStorage.getItem("token") || null);

      const isLoggedIn = computed(() => token.value !== null);

      const loginUser = async () => {
        try {
          if (loginUsername.value == "" || loginPassword.value == "") {
            alert("Please enter a username and password!");
            return;
          }
          //const respOne = await window.fetch("https://layer8devproxy.net/api/v1/login-precheck",
          const respOne = await window.fetch(
            "http://localhost:5001/api/v1/login-precheck",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: loginUsername.value,
              }),
            }
          );
          const responseOne = await respOne.json();
          console.log(responseOne.salt);
          //const respTwo = await window.fetch("https://layer8devproxy.net/api/v1/login-user",
          const respTwo = await window.fetch(
            "http://localhost:5001/api/v1/login-user",
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: loginUsername.value,
                password: loginPassword.value,
                salt: responseOne.salt,
              }),
            }
          );
          const responseTwo = await respTwo.json();
          console.log(responseTwo);
          if (responseTwo.token) {
            token.value = responseTwo.token;
            localStorage.setItem("token", responseTwo.token);
            alert("Login successful!");
            /* router.push("/user"); */
            //window.location.href = "https://layer8devproxy.net/user";
            window.location.href = "http://localhost:5001/user";
          } else {
            console.error("No token received.");
          }
        } catch (error) {
          console.error(error);
          alert("Login failed!");
        }
      };

      const app = createApp({
        setup() {
          return {
            loginUser,
            isLoggedIn,
            loginPassword,
            loginUsername,
            loginPassword,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
