<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Layer8</title>
    <link rel="stylesheet" href="/assets/styles/style.css"/>
</head>
<body>
    <div class="container">
        <img src="/assets/images/logo.png" alt="logo" class="logo">
        <h1 class="heading">Layer8</h1>
        <div class="line"></div>

        <div class="body">
            <h2 class="center">Register</h2>
            <form action="/register{{if .HasNext}}?next={{.Next}}{{end}}" method="POST">
                <input aria-required="true" type="text" name="username" id="username" placeholder="Username" required>
                <input aria-required="true" type="text" name="email" id="email" placeholder="Email" required>
                <input aria-required="true" type="text" name="fname" id="fname" placeholder="First Name" required>
                <input aria-required="true" type="text" name="lname" id="lname" placeholder="Last Name" required>
                <input aria-required="true" type="password" name="password" id="password" placeholder="Password" required>
                <input type="submit" value="Register">
                <small class="error">{{if .Error}}{{.Error}}{{end}}</small>
            </form>
            <p>Already have an account? <a href="/login{{if .HasNext}}?next={{.Next}}{{end}}">Login</a>
        </div>
    </div>
</body>
</html>