 @media (max-width: 640px) {
     .welcome-container {
         max-width: 48rem;
         margin-right: auto;
         margin-left: auto;
         padding-right: 1rem;
         padding-left: 1rem;
     }
 }

 @media (min-width: 640px) {
     .welcome-container {
         padding-right: 1rem;
         padding-left: 1rem;
     }
 }

 @media (min-width: 1024px) {
     .welcome-container {
         max-width: 1200px;
         margin-right: auto;
         margin-left: auto;
         padding-right: 2rem;
         padding-left: 2rem;
     }
 }

 .user-container {
     max-width: 1220px;
     margin: 0 auto;
 }

 .client-container {
     max-width: 1120px;
     margin: 0 auto;
 }