<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Layer8</title>
    <link rel="stylesheet" href="/assets-v1/styles/style.css"/>
</head>
<body>
    <div class="container">
        <img src="/assets-v1/images/logo.png" alt="logo" class="logo">
        <h1 class="heading">Layer8</h1>
        <div class="line"></div>

        <div class="body">
            <h2 class="center">Login</h2>
            <br>
            <form action="/login{{if .HasNext}}?next={{.Next}}{{end}}" method="POST">
                <input type="hidden" name="next" value="{{.Next}}">
                <input aria-required="true" type="text" name="username" id="username" placeholder="Username" required>
                <input aria-required="true" type="password" name="password" id="password" placeholder="Password" required>
                <input aria-required="true" type="submit" value="Login">
                <small class="error">{{if .Error}}{{.Error}}{{end}}</small>
            </form>
                <a href="http://localhost:5001/register">Don't have an account? Register</a>
                <!-- <a href="https://layer8devproxy.net/register">Don't have an account? Register</a> -->
            <br>
        </div>
    </div>
</body>
</html>
