<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets-v1/templates_copy/assets/styles/output.css"
    />
    <link
      rel="stylesheet"
      href="/assets-v1/templates_copy/assets/styles/base.css"
    />
    <title>Register | Layer8</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <div class="relative">
        <div class="client-container">
          <div class="grid grid-cols-2 bg-white h-dvh">
            <div class="self-center">
              <h2 class="font-bold text-3xl text-[#3751FE] mb-24">
                Client Portal
              </h2>
              <h1 class="font-bold text-4xl text-[#3751FE] mb-11">Login</h1>
              <div class="mr-28">
                <div class="relative border border-[#C1BBBB]">
                  <input
                    type="text"
                    id="username"
                    name="username"
                    v-model="username"
                    @focus="isUsernameFocused = true"
                    @blur="isUsernameFocused = false"
                    class="w-full px-4 pt-10 pb-3 border-l-4 focus:border-blue-500 focus:outline-none text-lg text-[#3751FE]"
                    placeholder=" "
                  />
                  <label
                    for="username"
                    class="absolute left-0 px-4 mt-6 transition-all duration-300 origin-0 text-[#636363] text-lg cursor-text"
                    :class="{ '-top-4': isUsernameFocused || username }"
                  >
                    Username
                  </label>
                </div>
                <div class="relative border border-[#C1BBBB] mb-9">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    v-model="password"
                    @focus="isPasswordFocused = true"
                    @blur="isPasswordFocused = false"
                    class="w-full px-4 pt-10 pb-3 border-l-4 focus:border-blue-500 focus:outline-none text-lg text-[#3751FE]"
                    placeholder=" "
                  />
                  <label
                    for="password"
                    class="absolute left-0 px-4 mt-6 transition-all duration-300 origin-0 text-[#636363] text-lg cursor-text"
                    :class="{ '-top-4': isPasswordFocused || password }"
                  >
                    Password
                  </label>
                </div>
                <button
                  @click="loginClient"
                  class="w-full py-4 border border-[#3751FE] text-[#3751FE] mb-7 hover:shadow-lg hover:text-white hover:bg-[#3751FE]"
                >
                  Login
                </button>
                <a
                  class="text-sm text-[#414141] font-normal text-start block cursor-pointer"
                  href="http://localhost:5001/client-register-page"
                >
                  Don't have an account? <span class="font-bold">Register</span>
                </a>
              </div>
            </div>
            <div class="hidden"></div>
          </div>
        </div>
        <div class="absolute lg:absolute bg-[#E5E5E5] right-0 top-0 pt-40 w-1/2 lg:w-1/2 h-dvh py-auto">
          <img
            class="m-auto"
            src="/assets-v1/templates_copy/assets/images/client-image.png"
          />
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      const username = ref("");
      const password = ref("");
      const isRegistered = ref(false);
      const isUsernameFocused = ref(false);
      const isPasswordFocused = ref(false);
      const client = ref({
        id: "",
        secret: "",
        name: "",
        redirect_uri: "",
      });

      const registerClient = async () => {
        try {
          if (name.value == "" || redirect_uri.value == "") {
            alert("Please enter a name and redirect url!");
            return;
          }
          //await window.fetch("https://layer8devproxy.net/api/v1/register-client", {
          await window.fetch("http://localhost:5001/api/v1/register-client", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              name: name.value,
              redirect_uri: redirect_uri.value,
            }),
          });
          isRegistered.value = true;
          alert("Registration successful!");
          getClientData(name.value);
        } catch (error) {
          console.error(error);
          alert("Registration failed!");
        }
      };
      const getClientData = async (clientName) => {
        try {
          //const resp = await window.fetch("https://layer8devproxy.net/api/v1/register-client",{
          const resp = await window.fetch("http://localhost:5001/api/v1/getClient",{
              method: "GET",
              headers: {
                "Content-Type": "Application/Json",
                Name: clientName,
              },
            }
          );
          const data = await resp.json();
          client.value = data;
        } catch (error) {
          console.error(error);
        }
      };

      const loginClient = async () => {
        try {
          if (username.value == "" || password.value == "") {
            alert("Please enter a username and password!");
            return;
          }
          //const respOne = await window.fetch("https://layer8devproxy.net/api/v1/client-login-precheck",{
          const respOne = await window.fetch("http://localhost:5001/api/v1/client-login-precheck",{
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: username.value,
              }),
            }
          );
          const responseOne = await respOne.json()

          //const respTwo = await window.fetch("https://layer8devproxy.net/api/v1/login-client",{
          const respTwo = await window.fetch("http://localhost:5001/api/v1/login-client",{
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                username: username.value,
                password: password.value,
                salt: responseOne.salt,
              }),
            }
          );
          const responseTwo = await respTwo.json();
          console.log("RESPONSE", responseTwo)
          if (responseTwo.token) {
            localStorage.setItem("clientToken", responseTwo.token);
            alert("Login successful!");
            //window.location.href = "https://layer8devproxy.net/client-profile";
            window.location.href = "http://localhost:5001/client-profile";
          }
        } catch (error) {
          console.error(error);
          alert("Login failed!");
        }
      }

      const app = createApp({
        setup() {
          return {
            client,
            username,
            password,
            registerClient,
            getClientData,
            isRegistered,
            isUsernameFocused,
            isPasswordFocused,
            loginClient,
          };
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
