name: simple_unit_tests

on:
  push:
    branches: ['stravid87/addingYML']
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
    branches: 
      - development
      - master
      
jobs:
  Run_Unit_Tests:
    runs-on: windows-latest
    steps: 
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.21'
      - name: "Run Unit Tests"
        run:  go test -v globe-and-citizen/layer8/proxy/models
